.projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
  padding: 10px;
}

.projects .col {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}
  
  .card {
    height: 100%;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
  }

  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .btn-custom {
    background-color: grey;
    border-color: grey;
    color: white;
  }
  
  .btn-custom:hover {
    background-color: purple;
    border-color: purple;
  }
  
  .tech-icon {
    font-size: 1.5em; 
    margin-right: 10px; 
  }
  .project-description {
    display: -webkit-box;
    -webkit-line-clamp: 5; 
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  
  .project-description.show-full {
    -webkit-line-clamp: unset;
  }
