.navbar {
    margin-bottom: 20px;
  }
  
  .nav-link {
    display: flex;
    align-items: center;
  }
  
  .nav-link svg {
    margin-right: 5px;
  }
  
  .button-cv {
    display: flex;
    align-items: center;
  }