.skills {
    text-align: center;
  }
  
  .skills-icons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  
  .skill {
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .skill span {
    margin-top: 5px;
  }