@import url("https://fonts.googleapis.com/css2?family=Kode+Mono:wght@400..700&display=swap");

* {
  font-family: "Kode Mono", monospace;
}
body {
  background: linear-gradient(135deg, #667eea, #764ba2);
  color: #fff;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.custom-img {
  width: 250px;
  height: 250px;
}

.about-enter {
  opacity: 0;
  transform: translateX(-20px);
}
.about-enter-active {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 300ms, transform 300ms;
}
.about-exit {
  opacity: 1;
  transform: translateX(0);
}
.about-exit-active {
  opacity: 0;
  transform: translateX(-20px);
  transition: opacity 300ms, transform 300ms;
}

.floating {
  animation: floating 3s ease-in-out infinite;
}

@keyframes floating {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@media (max-width: 768px) {
  .custom-img {
    width: 150px; /* Tamaño más pequeño */
    height: 150px; /* Tamaño más pequeño */
    display: block;
    margin: 0 auto; /* Centrar la imagen */
  }

  .text-container {
    text-align: center; /* Asegura que el texto esté centrado */
  }
}



.about {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}


.skills {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}


.projects {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}


.contact {
  border: 2px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.6);
}
